.text {
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--primaryTextColor);

    &--button {
        line-height: 97%;
        letter-spacing: -0.03em;
        color: #fff;
    }

    &--about-item {
        line-height: 115%;
    }

    &--banner {
        line-height: 144%;
        @media (max-width: 768px) {
            line-height: 150%;
        }
    }

    &--description-box {
        line-height: 156%;
        @media (max-width: 768px) {
            line-height: 142%;
        }
    }

    &--size_l {
        font-size: 20px;
    }
    &--size_m {
        font-size: 16px;
        @media (max-width: 768px) {
            font-size: 12px;
        }
    }
    &--size_s {
        font-size: 13px;
        @media (max-width: 1024px) {
            font-size: 11px;
        }
        @media (max-width: 425px) {
            font-size: 9px;
        }
    }
}
