.description_box {
    &__wrapper {
        height: 100%;
        background-color: var(--altBgColor);
        border-radius: 40px;
        padding-block: 54px 64px;
        padding-inline: 100px 90px;
        display: flow-root;
        @media (max-width: 1280px) {
            padding-block: 48px;
            padding-inline: 70px;
        }
        @media (max-width: 960px) {
            padding-block: 40px;
            padding-inline: 40px;
        }
        @media (max-width: 768px) {
            border-radius: 30px;
            padding-block: 36px;
            padding-inline: 40px;
        }
        @media (max-width: 425px) {
            padding-inline: 20px 25px;
        }
    }
    &__title {
        margin-bottom: 25px;
        max-width: 75%;
        @media (max-width: 768px) {
            margin-bottom: 20px;
        }
    }
    &__text {
        &:not(:first-of-type) {
            margin-top: 15px;
            @media (max-width: 768px) {
                margin-top: 18px;
            }
        }
    }
}
