.title {
    font-family: var(--font-family);
    text-wrap: balance;
    color: var(--primaryTextColor);

    &__accent {
        font-weight: 700;
        @media (max-width: 425px) {
            font-style: italic;
        }

        &::before,
        &::after {
            font-weight: 400;
            color: var(--accentColor);
            @media (max-width: 425px) {
                display: none;
            }
        }
        &::before {
            content: '\007B';
        }
        &::after {
            content: '\007D';
        }
    }

    &--size_l {
        font-size: 46px;
        @media (max-width: 1250px) {
            font-size: 36px;
        }
        @media (max-width: 1024px) {
            font-size: 32px;
        }
        @media (max-width: 768px) {
            font-size: 24px;
        }
    }
    &--size_m {
        font-size: 32px;
        @media (max-width: 1024px) {
            font-size: 24px;
        }
        @media (max-width: 425px) {
            font-size: 20px;
        }
    }
    &--size_s {
        font-weight: 400;
        font-size: 16px;
        line-height: 116%;
        @media (max-width: 1024px) {
            font-size: 13px;
        }
        @media (max-width: 425px) {
            font-size: 12px;
            line-height: 100%;
        }
    }

    &--slide {
        font-weight: 500;
        line-height: 100%;
    }

    &--intro {
        font-weight: 600;
        line-height: 100%;
    }
    &--description-box {
        font-weight: 400;
        line-height: 94%;
    }
    &--footer {
        font-weight: 400;
        font-size: 16px;
        line-height: 119%;
        color: var(--secondTextColor, #8e8e8e);
    }
}
