.about_item {
    @media (max-width: 640px) {
        &:nth-child(odd):last-child {
            & .about_item {
                &__wrapper {
                    grid-auto-flow: column;
                    grid-template-columns: 30% 1fr;
                    grid-template-rows: auto auto;
                    // column-gap: 4px;
                    // row-gap: unset;
                    padding-block: 24px;
                    padding-inline: 20px;
                    align-items: center;
                }
                &__picture {
                    grid-area: span 2 / 1;
                }
                &__title {
                    padding-inline: unset;
                    min-height: unset;
                    text-align: unset;
                    justify-self: start;
                }

                &__text {
                    justify-self: start;
                    text-align: unset;
                }
            }
        }
    }
    &__wrapper {
        background-color: var(--altBgColor, #eaf2f5);
        border-radius: 30px;
        padding-block: 35px;
        padding-inline: 35px;
        height: 100%;
        max-height: 254px;

        display: grid;
        grid-template-rows: 82px auto auto;
        row-gap: 10px;
        justify-items: center;
        align-content: start;

        @media (max-width: 1290px) {
            padding-inline: 25px;
            padding-block: 20px 25px;
        }
        @media (max-width: 1024px) {
            padding-inline: 15px;
        }
        @media (max-width: 960px) {
            grid-template-rows: 51px auto auto;
            row-gap: 8px;
        }
        @media (max-width: 425px) {
            border-radius: 20px;
            padding-inline: 10px;
            padding-block: 18px 23px;
        }
    }

    &__picture {
        align-self: center;
        width: var(--pictureWidth);
        height: var(--pictureheight);

        &--practice {
            --pictureWidth: 58px;
            --pictureheight: 58px;
        }
        &--methods {
            --pictureWidth: 59px;
            --pictureheight: 59px;
        }
        &--explanation {
            --pictureWidth: 70px;
            --pictureheight: 61px;
        }
        &--schedule {
            --pictureWidth: 72px;
            --pictureheight: 72px;
        }
        &--comunication {
            --pictureWidth: 63px;
            --pictureheight: 57px;
        }
        &--payment {
            --pictureWidth: 59px;
            --pictureheight: 59px;
        }
        &--refund {
            --pictureWidth: 60px;
            --pictureheight: 60px;
        }
        @media (max-width: 960px) {
            &--practice {
                --pictureWidth: 40px;
                --pictureheight: 40px;
            }
            &--methods {
                --pictureWidth: 38px;
                --pictureheight: 38px;
            }
            &--explanation {
                --pictureWidth: 43px;
                --pictureheight: 38px;
            }
            &--schedule {
                --pictureWidth: 39px;
                --pictureheight: 39px;
            }
            &--comunication {
                --pictureWidth: 40px;
                --pictureheight: 37px;
            }
            &--payment {
                --pictureWidth: 37px;
                --pictureheight: 37px;
            }
            &--refund {
                --pictureWidth: 38px;
                --pictureheight: 37px;
            }
        }
    }

    &__title {
        text-align: center;
        text-wrap: balance;
        min-height: 2lh;
        @media (max-width: 1024px) {
            padding-inline: 20px;
        }
        @media (max-width: 425px) {
            padding-inline: 3px;
        }
    }

    &__text {
        text-wrap: balance;
        text-align: center;
    }
}
